In [6]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

df=pd.read_csv(r"C:\Users\Vansh Parmar\OneDrive\Attachments\Desktop\min\coding\Python\ML\Encoding\sample.csv")
# print(df)

df_label=df.copy()


#Label Encoding
le=LabelEncoder()
df_label['Gender_Encoded']=le.fit_transform(df_label['Gender'])
df_label['Passed_Encoded']=le.fit_transform(df_label['Passed'])

print('\nEncoded Data')
print(df_label[['Name','Gender','Gender_Encoded','Passed','Passed_Encoded']])

#One Hot Encoding
df_encoded=pd.get_dummies(df_label,columns=['City'])
df_encoded['City_Bangalore']=df_encoded['City_Bangalore'].astype(int)
df_encoded['City_Chennai']=df_encoded['City_Chennai'].astype(int)
df_encoded['City_Delhi']=df_encoded['City_Delhi'].astype(int)
df_encoded['City_Mumbai']=df_encoded['City_Mumbai'].astype(int)


print('\nOne Hot Encoded Data City')
print(df_encoded)

Encoded Data
      Name  Gender  Gender_Encoded Passed  Passed_Encoded
0     Aman    Male               1    Yes               1
1    Priya  Female               0    Yes               1
2    Rahul    Male               1     No               0
3   Anjali  Female               0    Yes               1
4     Ravi    Male               1    Yes               1
5    Meera  Female               0     No               0
6    Arjun    Male               1    Yes               1
7     Neha  Female               0    Yes               1
8    Imran    Male               1     No               0
9    Sneha  Female               0    Yes               1
10     Raj    Male               1    Yes               1
11   Divya  Female               0     No               0
12   Kabir    Male               1    Yes               1
13  Simran  Female               0    Yes               1
14   Karan    Male               1     No               0
15   Pooja  Female               0    Yes               1
16  Rakesh    Male               1    Yes               1
17    Isha  Female               0     No               0
18   Rohit    Male               1    Yes               1
19   Deepa  Female               0    Yes               1

One Hot Encoded Data City
      Name  Gender Passed  Gender_Encoded  Passed_Encoded  City_Bangalore  \
0     Aman    Male    Yes               1               1               0
1    Priya  Female    Yes               0               1               0
2    Rahul    Male     No               1               0               1
3   Anjali  Female    Yes               0               1               0
4     Ravi    Male    Yes               1               1               0
5    Meera  Female     No               0               0               0
6    Arjun    Male    Yes               1               1               1
7     Neha  Female    Yes               0               1               0
8    Imran    Male     No               1               0               0
9    Sneha  Female    Yes               0               1               0
10     Raj    Male    Yes               1               1               0
11   Divya  Female     No               0               0               0
12   Kabir    Male    Yes               1               1               0
13  Simran  Female    Yes               0               1               1
14   Karan    Male     No               1               0               0
15   Pooja  Female    Yes               0               1               0
16  Rakesh    Male    Yes               1               1               0
17    Isha  Female     No               0               0               0
18   Rohit    Male    Yes               1               1               0
19   Deepa  Female    Yes               0               1               1

    City_Chennai  City_Delhi  City_Mumbai
0              0           1            0
1              0           0            1
2              0           0            0
3              0           0            1
4              0           1            0
5              1           0            0
6              0           0            0
7              0           1            0
8              1           0            0
9              0           0            1
10             1           0            0
11             0           1            0
12             0           0            1
13             0           0            0
14             0           1            0
15             0           0            1
16             1           0            0
17             0           1            0
18             0           1            0
19             0           0            0

In [ ]:
import pandas as pd
from sklearn.preprocessing import StandardScaler,MinMaxScaler
from sklearn.model_selection import train_test_split

data={
    'Studyhours':[1,2,3,4,5],
    'Testscore':[40,50,60,70,80]
}
df=pd.DataFrame(data)

standard_scalar=StandardScaler()
standard_scaled=standard_scalar.fit_transform(df)

print("Standard Scaler Output")
print(pd.DataFrame(standard_scaled,columns=['Studyhours','Testscore']))

minmax_scalar=MinMaxScaler()
minmax_scaled=minmax_scalar.fit_transform(df)

print('Minmax Scalar output')
print(pd.DataFrame(minmax_scaled,columns=['Studyhours','Testscore']))

x=df[['Studyhours']]
y=df[['Testscore']]

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)
print('Training data')
print(x_train)

print('Test data')
print(x_test)

print('Training data')
print(y_train)

print('Test data')
print(y_test)

#0.2 means 80% data for training pupose and 20% data for testing purpose

#    Studyhours
# 4           5
# 2           3
# 0           1
# 3           4
# index      Value
# Test data
#    Studyhours
# 1           2

Standard Scaler Output
   Studyhours  Testscore
0   -1.414214  -1.414214
1   -0.707107  -0.707107
2    0.000000   0.000000
3    0.707107   0.707107
4    1.414214   1.414214
Minmax Scalar output
   Studyhours  Testscore
0        0.00       0.00
1        0.25       0.25
2        0.50       0.50
3        0.75       0.75
4        1.00       1.00
Training data
   Studyhours
4           5
2           3
0           1
3           4
Test data
   Studyhours
1           2
Training data
   Testscore
4         80
2         60
0         40
3         70
Test data
   Testscore
1         50